body{

    background-color:#56669D;
    width:100%;
    padding:0;
    margin:0;
    color:white;
    font-family: 'Quicksand', sans-serif;
}

h1, h3, h4{

    text-align:center;
    position:relative;
    top:250px;
    left:50%;
    transform:translate(-50%,-50%);

}

#mylives{
    top:260px;
}

button{
    margin-left:5px;
    margin-bottom:5px;
    width:45px;
    height:45px;
    background-color:#FA9490;
    color:#56669D;
    border-radius:25px;
    border:0px;
    cursor:pointer;
}

button:hover{
    border:1px solid white;
    background-color:transparent;
    color:white;
}

#buttons{

    position:relative;
    left:32%;
    top:250px;
    width:750px;
}

#word{

    font-size:75pt;
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
}

canvas{
    color:white;
    border: white dashed 2px;
    padding:15px;
    position:absolute;
    left:80%;
    top:18%;
    transform:translate(-50%,50%);
  }

  .clicked{
      opacity:0.2;
  }

  #restart{
      width:150px;
      position:absolute;
      left:50%;
      top:75%;
      transform:translate(-50%,-50%);
      opacity:0;
  }

  #restart.clicked{
      opacity:1;
  }